In [7]:
import pandas as pd

In [8]:
DocGraph = pd.read_csv('./data/DocGraph/DocGraph_Hop_Teaming_2018.csv', nrows = 100)

In [9]:
DocGraph.head()

,from_npi,to_npi,patient_count,transaction_count,average_day_wait,std_day_wait
0,1508062167,1730166109,350,370,53.922,72.612
1,1508065640,1730166109,25,25,49.800,55.006
2,1508052093,1730166109,16,16,109.500,70.593
3,1508172545,1730166109,14,14,103.357,75.483
4,1508285131,1730166109,20,21,89.952,89.880

In [16]:
endpoint = pd.read_csv('./data/NPPES/endpoint_pfile_20050523-20220213.csv', nrows = 100)

In [17]:
endpoint.head()

,NPI,Endpoint Type,Endpoint Type Description,Endpoint,Affiliation,Endpoint Description,Affiliation Legal Business Name,Use Code,Use Description,Other Use Description,Content Type,Content Description,Other Content Description,Affiliation Address Line One,Affiliation Address Line Two,Affiliation Address City,Affiliation Address State,Affiliation Address Country,Affiliation Address Postal Code
0,1154324382,DIRECT,Direct Messaging Address,Richard.Close@SEP.EClinicalDirectPlus.com,N,NaN,NaN,DIRECT,Direct,NaN,NaN,NaN,NaN,500 N Hiatus,Ste 200,Pembroke Pines,FL,US,33026
1,1154324382,DIRECT,Direct Messaging Address,rclose13800@MHSDIRECT.NET,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3501 Johnson St,NaN,Hollywood,FL,US,330215421
2,1962405175,DIRECT,Direct Messaging Address,fredericstelzer@epgi.allscriptsdirect.net,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1501 N Cedar Crest Blvd,suite 110,Allentown,PA,US,181042309
3,1699778894,DIRECT,Direct Messaging Address,aawomolo@direct.iuhealth.org,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2401 W University Ave,NaN,Muncie,IN,US,47303
4,1396748596,DIRECT,Direct Messaging Address,CHRISTIANO.CALDEIRA@hca4.eclinicaldirectplus.com,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1345 W Bay Dr Ste 301,NaN,Largo,FL,US,337702264

In [28]:
provider = pd.read_csv('./data/NPPES/npidata_pfile_20050523-20220213.csv', nrows = 100)

In [29]:
provider.head()

,NPI,Entity Type Code,Replacement NPI,Employer Identification Number (EIN),Provider Organization Name (Legal Business Name),Provider Last Name (Legal Name),Provider First Name,Provider Middle Name,Provider Name Prefix Text,Provider Name Suffix Text,...,Healthcare Provider Taxonomy Group_7,Healthcare Provider Taxonomy Group_8,Healthcare Provider Taxonomy Group_9,Healthcare Provider Taxonomy Group_10,Healthcare Provider Taxonomy Group_11,Healthcare Provider Taxonomy Group_12,Healthcare Provider Taxonomy Group_13,Healthcare Provider Taxonomy Group_14,Healthcare Provider Taxonomy Group_15,Certification Date
0,1679576722,1.0,NaN,NaN,NaN,WIEBE,DAVID,A,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1588667638,1.0,NaN,NaN,NaN,PILCHER,WILLIAM,C,DR.,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1497758544,2.0,NaN,<UNAVAIL>,"CUMBERLAND COUNTY HOSPITAL SYSTEM, INC",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1306849450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1215930367,1.0,NaN,NaN,NaN,GRESSOT,LAURENT,NaN,DR.,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
NPI_provider = pd.read_csv('./data/NPPES/othername_pfile_20050523-20220213.csv', nrows = 100)

In [38]:
NPI_provider.head()

,NPI,Provider Other Organization Name,Provider Other Organization Name Type Code
0,1023011053,Vine Discount Pharmacy & Medical Supply,3
1,1023011178,Napa Valley Hospice & Adult Day Services,4
2,1043213093,HOME IV SPECIALISTS INC,3
3,1053314252,Alliance HomeCare,3
4,1134122328,Horizon Coral Springs LLC,3

In [67]:
merged_provider = pd.merge(endpoint, provider, on = 'NPI', how = 'left')

In [68]:
merged_provider.columns

Index(['NPI', 'Endpoint Type', 'Endpoint Type Description', 'Endpoint',
       'Affiliation', 'Endpoint Description',
       'Affiliation Legal Business Name', 'Use Code', 'Use Description',
       'Other Use Description',
       ...
       'Healthcare Provider Taxonomy Group_7',
       'Healthcare Provider Taxonomy Group_8',
       'Healthcare Provider Taxonomy Group_9',
       'Healthcare Provider Taxonomy Group_10',
       'Healthcare Provider Taxonomy Group_11',
       'Healthcare Provider Taxonomy Group_12',
       'Healthcare Provider Taxonomy Group_13',
       'Healthcare Provider Taxonomy Group_14',
       'Healthcare Provider Taxonomy Group_15', 'Certification Date'],
      dtype='object', length=348)

In [70]:
taxonomy.head()

,Code,Grouping,Classification,Specialization,Definition,Notes,Display Name,Section
0,193200000X,Group,Multi-Specialty,NaN,A business group of one or more individual pra...,[7/1/2003: new],Multi-Specialty Group,Individual
1,193400000X,Group,Single Specialty,NaN,A business group of one or more individual pra...,[7/1/2003: new],Single Specialty Group,Individual
2,207K00000X,Allopathic & Osteopathic Physicians,Allergy & Immunology,NaN,An allergist-immunologist is trained in evalua...,"Source: American Board of Medical Specialties,...",Allergy & Immunology Physician,Individual
3,207KA0200X,Allopathic & Osteopathic Physicians,Allergy & Immunology,Allergy,Definition to come...,NaN,Allergy Physician,Individual
4,207KI0005X,Allopathic & Osteopathic Physicians,Allergy & Immunology,Clinical & Laboratory Immunology,Definition to come...,NaN,Clinical & Laboratory Immunology (Allergy & Im...,Individual